*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
img{
  width: 100%;
}
p{
  margin: 15px;
  font-family: 'Manjari', sans-serif;
  font-size: 2em;
}/*
li a{
  color: #fff;
}*/
.section{
  padding: 1.5em;
  background-color: #f5f5f5;
}
.tarjeta{
  margin: 10px;
  height: 100%;
  padding: 1em;
  background-color: #fff;
  border-radius: 10px;
}
.barra{
  margin: 2em 0px 3em 0px;
  padding: 10px;
}
.nav-esc{
  overflow: hidden;
}
.menu{
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.menuInterno{
  overflow: hidden;
  transition: max-height 0.5s;
  max-height: 0;
}
.menuInterno a{
  display: block;
  position: relative;
}
.btn i{
  margin-right: 10px;
}
.nav-esc:target .menuInterno{
  max-height: 10em;
}
.AnimacionBarra{
  padding: .5em;
}
