*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
img{
  width: 100%;
}
.barra{
  margin: 2em;
}
.nav-esc{
  overflow: hidden;
}
.menu{
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.menuInterno{
  overflow: hidden;
  transition: max-height 0.5s;
  max-height: 0;
}
.menuInterno a{
  display: block;
  position: relative;
}
.btn i{
  margin-right: 10px;
}
.nav-esc:target .menuInterno{
  max-height: 10em;
}
